:root{
    --page-gutter: 40px;
    --beige: #F9F8F6;
    --main: #B6AE9F;
    --main2: #E5E0D8;
    --sage: #DDE0D1;
    --sage2: #A3B28A;
}

@media (max-width: 1024px) {
    :root {
        --page-gutter: 24px;
    }
}
